@import "tailwindcss";

@theme {
  --color-gray-900: #1a1a1a;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--color-gray-900);
}
